<div class="container" >
  <form>
    <h1>Taschenrechner</h1>
    <div class="form-group">
      <label for="value1">Wert 1</label>
      <input type="number" class="form-control" name="value1" id="value1" required placeholder="Wert" [(ngModel)]="value1" step="any">

    </div>
    <div class="form-group">
      <label for="value2">Operand</label>
      <input type="text" class="form-control" name="operator"  id="operator" placeholder="operator" [(ngModel)]="operator"
             ng-max-length="1" ng-min-length="1" required>
    </div>

    <div class="form-group">
      <label for="value2">Wert 2</label>
      <input type="number" class="form-control" name="value2" id="value2" placeholder="Wert" [(ngModel)]="value2" step="any">
    </div>

    <div class="form-group">
      <div *ngIf="resultValue">
        <label for="end-result">Ergebnis</label>
        <input type="number" class="form-control" name="end-result" id="end-result" disabled [(ngModel)]="resultValue">
      </div>
      <div *ngIf="!resultValue">
        <label class="alert-danger">
          Bitte geben Sie gültige werte ein.
        </label>

      </div>


      <div *ngIf="value1?.errors?.required">
        <span>required</span>
      </div>
    </div>


    <button type="button" class="btn btn-default" (click)="clear()">C</button>
    <button type="submit" id="submit" class="btn btn-default" (click)="result()">Berechnen</button>

  </form>


</div>
